<section class="covid">
    <div class="container my-5 py-5">
        <div class="statics row mb-5">
            <div class="col-md-12 mb-5">
                <div class="overview row">
                    <header class="col-md-12 my-3"><h3 class="specfont subtitle">Overview</h3></header>
                    <div class="col-md-6">
                        <div class="over borderLine p-3 text-secondary mr-1 row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <h4 class="text-danger specfont">336,582</h4>
                                    <h6 class="specfont">Confirmed</h6>
                                    <h6 class="text-danger specfont">+0 new cases</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center">
                                    <h4 class="text-success specfont">282,514</h4>
                                    <h6 class="specfont">Recovered</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center">
                                    <h4 class="specfont">19,011</h4>
                                    <h6 class="specfont">Deaths</h6>
                                    <h6 class="specfont">+0 new deaths</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progresss borderLine row">
                            <div class="col-md-12">
                                <div class="fRate row p-3">
                                    <div class="col-md-8">
                                        <div class="w3-light-grey mt-1">
                                            <div class="w3-container w3-red w3-center" style="width:20%">18.6%</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="poppfont">Fatality Rate</h5>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="rRate row p-3">
                                    <div class="col-md-8">
                                        <div class="w3-light-grey mt-1">
                                            <div class="w3-container w3-green w3-center" style="width:85%">83.9%</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="poppfont">Recovery Rate</h5>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="daily row">
                    <div class="col-md-4">
                        <div class="oneDaily borderLine p-3">
                            <h4 class="poppfont">Critical Cases treated in ICU</h4>
                            <h3 class="specfont">90</h3>
                            <h5 class="poppfont">0.0% of total cases</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="oneDaily borderLine p-3">
                            <h4 class="poppfont">Cases Receiving Treatment</h4>
                            <h3 class="specfont">35057</h3>
                            <h5 class="poppfont">10.4% of total cases</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="oneDaily borderLine p-3">
                            <h4 class="poppfont">Daily Confirmed Cases</h4>
                            <h3 class="specfont">3208</h3>
                            <h5 class="poppfont">Per Million Population</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainly row mt-3">
            <div class="col-md-8">
                <div class="row leftBox">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li class="mb-5 media row borderLine pt-3 p-1">
                              <div class="col-md-2">
                                <img src="../../assets/images/media1.jpg" class="img-fluid">
                              </div>
                              <div class="col-md-10 media-body">
                                <h4 class="mt-0 mb-1">
                                    <a target="_blank" href="https://www.malaymail.com/news/world/2021/12/01/canada-bans-travellers-from-egypt-nigeria-and-malawi-over-omicron-fears/2025014">
                                        Canada bans travellers from Egypt, Nigeria and Malawi over Omicron fears
                                    </a>
                                </h4>
                                <p class="poppfont mt-3">
                                    MONTREAL, Dec 1 — Canada yesterday banned travellers from Egypt, Nigeria and Malawi over fears of the spread of the new Omicron coronavirus variant, bringing to 10 the number of African countries targeted by Ottawa.
                                </p>
                              </div>
                            </li>
                            <li class="mb-5 media row borderLine pt-3 p-1">
                              <div class="col-md-2">
                                <img src="../../assets/images/media2.jpg" class="img-fluid">
                              </div>
                              <div class="col-md-10 media-body">
                                <h4 class="mt-0 mb-1">
                                    <a target="_blank" href="https://www.thehindu.com/news/international/egypt-to-require-virus-vaccinations-for-civil-servants/article37052380.ece">
                                        Egypt to require virus vaccinations for civil servants
                                    </a>
                                </h4>
                                <p class="poppfont mt-3">
                                    Egypt’s government will soon require public servants to have a vaccination certificate or show a weekly negative COVID-19 test before entering their workplaces.
                                </p>
                              </div>
                            </li>
                            <li class="mb-5 media row borderLine pt-3 p-1">
                              <div class="col-md-2">
                                <img src="../../assets/images/media3.jpg" class="img-fluid">
                              </div>
                              <div class="col-md-10 media-body">
                                <h4 class="mt-0 mb-1">
                                    <a target="_blank" href="https://www.thehindu.com/news/international/three-detained-in-egypt-after-coronavirus-vaccines-found-dumped/article36935764.ece">
                                        Three detained in Egypt after coronavirus vaccines found dumped
                                    </a>
                                </h4>
                                <p class="poppfont mt-3">
                                    An inventory found nearly 5,000 more packages had been lost from the depot because of storage at improper temperatures
                                </p>
                              </div>
                            </li>
                            <li class="mb-5 media row borderLine pt-3 p-1">
                              <div class="col-md-2">
                                <img src="../../assets/images/media4.jpg" class="img-fluid">
                              </div>
                              <div class="col-md-10 media-body">
                                <h4 class="mt-0 mb-1">
                                    <a target="_blank" href="https://www.malaymail.com/news/world/2021/08/23/egypt-to-intensify-vaccination-ahead-of-a-fourth-covid-19-wave/1999928">
                                        Egypt to intensify vaccination ahead of a fourth Covid-19 wave
                                    </a>
                                </h4>
                                <p class="poppfont mt-3">
                                    CAIRO, Aug 23 — Egypt will vaccinate all 4.5 million of its state employees against Covid-19 in August and September as it seeks to accelerate vaccinations ahead of a likely fourth wave of infections, the health minister said today.
                                </p>
                              </div>
                            </li>
                            <li class="media row borderLine pt-3 p-1">
                              <div class="col-md-2">
                                <img src="../../assets/images/media5.jpg" class="img-fluid">
                              </div>
                              <div class="col-md-10 media-body">
                                <h4 class="mt-0 mb-1">
                                    <a target="_blank" href="https://www.channelnewsasia.com/world/egypt-lifts-coronavirus-restrictions-jun-1-cabinet-says-1421076">
                                        Egypt lifts coronavirus restrictions from Jun 1, Cabinet says
                                    </a>
                                </h4>
                                <p class="poppfont mt-3">
                                    FILE PHOTO: A worshiper has his temperature checked as he arrives to attend a Palm Sunday mass, after using an application to book the attendance of prayers, amid the coronavirus disease (COVID-19) outbreak, in a church in Cairo, Egypt April 25, 2021. REUTERS/Hanaa Habib
                                </p>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rightSideBar">
                    <iframe width="100%" height="1000vh" src="https://www.skynewsarabia.com/live-story/1345832-%D9%85%D8%B3%D8%AA%D8%AC%D8%AF%D8%A7%D8%AA-%D9%83%D9%88%D8%B1%D9%88%D9%86%D8%A7-%D8%A7%D9%94%D8%AD%D8%AF%D8%AB-%D8%A7%D9%94%D8%AE%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D9%81%D9%8A%D8%B1%D9%88%D8%B3-%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%85"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>