.borderLine {
    border: 1px solid #e3e5ea;
}
.progresss h5 {
    color: #0b4462
}
.oneDaily {
    background-image: url('../../assets/images/chart2.png');
    background-position: 75%;
    background-repeat: no-repeat;
}
.rightSideBar iframe {
    border: 1px solid #e3e5ea !important;
}
.mainly img {
    border-radius: 5%;
}
.mainly a {
    color: #0b4462 !important;
}
.mainly a:hover {
    text-decoration: none;
}
.mainly li:hover {
    background-color: #e3e5ea;
}