<section class="pt-5 mt-5">
  <div class="container">
    <div class="intro row my-5">
      <h2 class="headfont col-md-4">Manage Employees</h2>
      <div class="col-md-3 offset-5">
        <button class="btn btn-success poppfont" data-toggle="modal" data-target="#addEmpModal"><i class="fas fa-plus-circle"></i> Add New Employee</button>
      </div>
    </div>
    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmpModal" tabindex="-1" aria-labelledby="addEmpModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addEmpModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addEmpForm" (ngSubmit)="getForm(addEmpForm)" class="row d-flex justify-content-center">
              <input formControlName="email" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Email">
              <input formControlName="name" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Name">
              <input formControlName="jobTitle" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Job Title">
              <input formControlName="salary" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Salary">
              <input formControlName="address" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Address">
              <input formControlName="picture" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Picture">
              <input formControlName="age" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Age">
              <input formControlName="phoneNumber" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Phone">
              <input formControlName="password" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Employee Password">
              <input formControlName="role" type="text" class="col-md-5 mr-4 mt-3" placeholder="Enter Role">
              <div class="modal-footer col-md-12 mt-4">
                <button type="submit" [disabled]="addEmpForm.status == 'INVALID'" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- List All Employees -->
    <table class="table-hover table-sm poppfont">
        <thead class="mb-5">
          <tr class="text-center">
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Salary</th>
            <th scope="col">Address</th>
            <th scope="col">Picture</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oneEmp of allEmp" class="text-center">
            <td><a (click)="updateEmp(oneEmp._id)" data-toggle="modal" data-target="#updateEmpModal"><i class="mr-2 fas fa-pen text-warning fa-2x"></i></a></td>
            <td><a (click)="deleteEmp(oneEmp._id)"><i class="fas fa-trash-alt text-danger fa-2x"></i></a></td>
            <td>{{oneEmp._id}}</td>
            <td>{{oneEmp.email}}</td>
            <td>{{oneEmp.name}}</td>
            <td>{{oneEmp.jobTitle}}</td>
            <td>{{oneEmp.salary}}</td>
            <td>{{oneEmp.address}}</td>
            <td>{{oneEmp.picture}}</td>
            <td>{{oneEmp.age}}</td>
            <td>{{oneEmp.phoneNumber}}</td>
            <td>{{oneEmp.password}}</td>
            <td>{{oneEmp.role}}</td>
          </tr>
        </tbody>
    </table>
  </div>

  <!-- Update Employee Modal -->
  <div class="modal fade" id="updateEmpModal" tabindex="-1" aria-labelledby="updateEmpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmpModalLabel">Update Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateEmpForm" (ngSubmit)="getUpdatedForm(updateEmpID, updateEmpForm)" class="row d-flex justify-content-center">
            <label class="col-md-4 mr-4 mt-3">Employee Email:</label>
            <input formControlName="email" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Name:</label>
            <input formControlName="name" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Job Title:</label>
            <input formControlName="jobTitle" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Salary:</label>
            <input formControlName="salary" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Address:</label>
            <input formControlName="address" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Picture:</label>
            <input formControlName="picture" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Age:</label>
            <input formControlName="age" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Phone:</label>
            <input formControlName="phoneNumber" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Employee Password:</label>
            <input formControlName="password" type="text" class="col-md-6 mr-4 mt-3">
            <label class="col-md-4 mr-4 mt-3">Role:</label>
            <input formControlName="role" type="text" class="col-md-6 mr-4 mt-3">
            <div class="modal-footer col-md-12 mt-4">
              <button type="submit" [disabled]="updateEmpForm.status == 'INVALID'" class="btn btn-success">Submit</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>