<section id="content" class="content container mt-5 pt-5">
    <form class="form-inline my-5 raw">
        <div class="col-md-5 p-2">
            <input class="form-control w-100" type="search" placeholder="Search By Name" aria-label="Search">
        </div>
        <div class="col-md-1 p-2">
            <button class="btn btn-outline-primary w-100 my-2 my-sm-0" type="submit">Search</button>
        </div>
        <div class="col-md-5 p-2">
            <input class="form-control w-100" type="search" placeholder="Filter By Location" aria-label="Search">
        </div>
        <div class="col-md-1 p-2">
            <button class="btn btn-outline-primary w-100 my-2 my-sm-0" type="submit">Filter</button>
        </div>
    </form>
    
    <div class="contentcards row">
        <div class="col-md-4 mb-5 " *ngFor="let oneHos of allHos">
            <div class="card">
                <div class="bphoto">
                    <img src="{{oneHos.picture}}">
                </div>
                <div class="bcontent">
                    <h6 class="specfont"><a href="#">{{oneHos.name}}</a></h6>
                    <h4 class="headfont">{{oneHos.description}}</h4>
                    <span class="poppfont">
                        <a href="#">Reviews</a> 
                        <!-- [routerLink]="['/hospitaldetails' , oneHos._id]" -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
